:root {
    --primary-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.button-link {
    text-decoration: none;
    color: white !important;
}
form{
    width: 90vw;
    margin: 0 auto;
}

textarea{
    height: 30vh;
}
h1{
    font-family: var(--primary-font);
    color: red;
}
