:root {
    --primary-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --primary-color: #ff9eca;
    --secondary-color: #3CAEFE;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100%; 
    overflow-x: hidden;
}

.nav-header{
    height: 310px;
    max-width: 200px;
    color: white !important;
}

.nav-link, .nav-header, .navbar-brand{
    color: white !important; 
}
.nav-link:hover, .dropdown-item:hover, .navbar-brand:hover{
color: var(--secondary-color) !important;
transition: 200ms ease-in-out;
}
.active{
    text-decoration: underline;
}
.content{
padding-bottom: 60px;
padding: 0px 30px;
}
article a {
text-decoration: none;
color: var(--primary-color);
}

article{
    margin: 0 auto;
    
}
.sidebar{
    text-align: center;
    border-left: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
}


.button-link {
    text-decoration: none;
    color: white !important;
}
form.article-form{
    width: 90%;
    margin: 0 auto;   
}
.search-form, .archive-form {
    padding: 40px 10px;
    text-align: center;
    
    
}
.blog-content{
    
    text-align: center;
    display: block;
    
}

textarea{
    height: 30vh;
    
    
}
.tags-input {
            display: inline-block;
            position: relative;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 5px;
            box-shadow: 2px 2px 5px #00000033;
            width: 50%;
        }

        .tags-input ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .tags-input li {
            display: inline-block;
            background-color: #f2f2f2;
            color: #333;
            border-radius: 20px;
            padding: 5px 10px;
            margin-right: 5px;
            margin-bottom: 5px;
        }

        .tags-input input[type="text"] {
            border: none;
            outline: none;
            padding: 5px;
            font-size: 14px;
        }

        .tags-input input[type="text"]:focus {
            outline: none;
        }

        .tags-input .delete-button {
            background-color: transparent;
            border: none;
            color: #999;
            cursor: pointer;
            margin-left: 5px;
        }
h1{
    font-family: var(--primary-font);
    color: var(--secondary-color);
    padding: 5vh 5vw; 
}
footer {
    padding: 10vh 0vw;
    margin: auto 0;
    text-align: center;
    background-color: var(--primary-color);
    color: white;
}
.footer-link, .footer-item{
    text-decoration: none;
    list-style: none;
    color: white;
}
.footer-link:hover{
    color: var(--secondary-color);
    transition: 200ms ease-in-out;
}
.link-header{
   font-weight: 600;
   text-decoration: underline;
    color: white;
}
