:root {
    --primary-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --primary-color: #ff9eca
}
.nav-header{
    height: 310px;
}
.nav-image {
    width: auto;
    max-height: 300px;
}
.nav-link:hover, .dropdown-item:hover{
font-weight: 600 !important;
transition: 100ms ease-in-out;
}
.active{
    text-decoration: underline;
}
article a {
text-decoration: none;
color: var(--primary-color);
}

article{
    margin: 0 auto;
}

.button-link {
    text-decoration: none;
    color: white !important;
}
form{
    width: 90vw;
    margin: 0 auto;
    
}

textarea{
    height: 30vh;
    
    
}
h1{
    font-family: var(--primary-font);
    color: #3CAEFE;
    padding: 5vh 5vw; 
}
